ul {
    padding: 0;
}

a {
    text-decoration: none;
    color          : rgb(245, 240, 240);
}

.container {
    /* width: 1440px; */
}

body {
    font-family    : 'Noto Sans TC', sans-serif;
    padding        : 0;
    margin         : 0;
    /* color       : rgb(245, 240, 240); */

}

header a {
    text-decoration: none;
    color          : rgb(245, 240, 240);
}

.nav {
    width  : 50%;
    display: block;


}

.mobile_nav {
    display: none;
}

header li {
    float          : left;
    list-style-type: none;
    width          : 20%;
    padding-top    : 45px;

}

header {
    padding         : 0;
    margin          : 0;
    width           : 100%;
    height          : 100px;
    background-color: brown;
    display         : flex;
    justify-content : space-between;
    position        : fixed;
    z-index         : 999;
}

.icon {
    width          : 15%;
    padding-top    : 45px;
    display        : flex;
    justify-content: space-around;
}

.icon a {
    color    : rgb(245, 240, 240);
    font-size: 2rem;
}

.menu_icon {
    width       : 60px;
    height      : 60px;
    /* border   : 1px solid #000; */
    position    : absolute;
    top         : 20%;
    right       : 2%;
    display     : block;
}

.mobile_menu_icon1,
.mobile_menu_icon2,
.mobile_menu_icon3 {
    transition      : all 1s;
    position        : absolute;
    width           : 60px;
    height          : 10px;
    background-color: rgb(245, 240, 240);
    border-radius   : 20px;
}

/* 漢堡選單上面橫槓 */
.mobile_menu_icon1 {
    background-color: rgb(211,   164, 90);
    top             : 0;
}

/* 漢堡選單下面橫槓 */
.mobile_menu_icon3 {
    background-color: rgb(211, 164, 90);

    bottom: 0;
}

/* 漢堡選單中間橫槓 */
.mobile_menu_icon2 {
    top             : 50%;
    transform       : translateY(-50%);
    background-color: rgb(233, 31, 31);

}

section {
    position: relative;
}

section img {
    padding-top: -200px;
    width      : 100%;

}

/* active 漢堡 */
.openmobile_menu_icon3,
.openmobile_menu_icon1 {
    top      : 50%;
    transform: translateY(-50%);
}

.openmobile_menu_icon2 {
    display: none;
}

.openmobile_menu_icon1 {
    transform: rotate(45deg);
}

.openmobile_menu_icon3 {
    transform: rotate(-45deg);
}

.mobile_header {
    display: none;
}

.button {
    width           : 20%;
    /* height       : 4%; */
    background-color: brown;
    border-bottom   : 8px solid rgb(155, 30, 30);
    border-radius   : 20px;
    position        : absolute;
    bottom          : 10%;
    left            : 40%;
    box-shadow      : 10px 10px 10px 1px #1a141467;
    ;
}

.button p {
    text-align : center;
    line-height: 1rem;
    color      : ivory;
    font-size  : 1.5em;

}

.logo_model {
    display: none;
}

.mobile_nav {
    display: none;
}

.about {
    position: relative;

}

.about_img1 {

    position: absolute;
    right   : 0%;
}

.about_img2 {

    position: absolute;
    top     : 400%;
}

.about_text {}

@media screen and (max-width: 768px) {

    .icon a {
        display: none;
    }

    header {
        position: relative;
    }

    .nav {
        display: none;
    }

    .mobile_nav {

        display: none;
    }

    .mobile_nav ul {
        padding : 0;
        margin  : 0;
        position: absolute;
        z-index : 10;
        width   : 100%;
    }

    .mobile_nav li {
        padding         : 0;
        margin          : 0;
        float           : none;
        background-color: ivory;
        line-height     : 80px;
        text-align      : center;
        border-bottom   : 4px rgb(155, 30, 30) dotted;

    }

    .mobile_nav a {

        color: rgb(22, 8, 8);
    }

    .mobile_header {
        display: block;
    }
}

@media screen and (max-width: 480px) {

    .logo_web {
        display: none;

    }

    .logo_model {
        display: block;
        padding: 0.3em;
    }

    .button p {

        font-size: 1em;

    }

    .icon {
        display: none;
    }

    .nav {
        display: none;
    }

}