footer {
    background-color: brown;
    position        : relative;
    display         : flex;
    flex-wrap       : nowrap;
    justify-content : space-between;
    padding-top     : 1%;

    padding-bottom: 1%;
}

footer h4,
p {
    color: rgb(240, 226, 226);
}

.footer_img {
    overflow        : hidden;
    background-color: rgb(250, 235, 186);
   padding-top: 2%;
   padding-bottom: 2%;
}

.footer_icon {


    width             : 30%;
    /* padding-top    : 42px; */
    display           : flex;
    justify-content   : space-around;


}

.footer_icon a {
    color    : rgb(245, 240, 240);
    font-size: 4rem;
}


.footer_logo {
    width: 30%;
}

.footer_logo img {

    width: 70%;
}

.footer_textbox {

    text-align: center;
    width     : 30%;
    font-size : 0.5em;
}

/* .footer_textbox p {
     display   : block;
     text-align: center;
     margin    : auto;
 
 
 } */

.gototop {
    position: fixed;
    bottom  : 10%;
    right   : 0%;

    width        : 50px;
    height       : 50px;
    border       : 4px dotted rgb(214, 31, 31);
    border-radius: 50px;
}

.gototop a {
    text-decoration: none;
    color          : rgb(214, 31, 31);
    text-align     : center;
    font-size      : 35px;
    display        : block;
}





@media screen and (max-width: 768px) {

    footer {

        padding-bottom: 5%;
    }

    .footer_icon a {
        color    : rgb(245, 240, 240);
        font-size: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .footer_icon a {
        color    : rgb(245, 240, 240);
        font-size: 2rem;
    }

}