.about2 {
    padding-top: 100px;
    position   : relative;
}


.about2_dog {
    position: absolute;
    bottom  : 2%;
    left    : 2%;
    width   : 15%;
    opacity : 1;
}

.about_bnt img {
    /* width  : 15%; */
    opacity: 0.8;
    display: block;

    text-align: center;
    margin    : 5% auto;

}

.about_text2 {
    text-align         : center;
    background-image   : url(../images/white\ bb.png);
    background-repeat  : no-repeat;
    background-size    : contain;
    background-position: center;
    padding            : 5%;
    margin             : 3%;
    color              : rgb(47, 29, 19);
    opacity            : 0.9;
}

.map_box img {
    width  : 15%;
    opacity: 0.8;
    display: block;

    text-align: center;
    margin    : 5% auto;

}

.map_box {
    display        : flex;
    justify-content: center;
    /* flex-wrap   : wrap; */

}

.add {
    width        : 46%;
    text-align   : center;
    border       : 4px brown dotted;
    margin       : 2%;
    border-radius: 50px;
    align-items  : center;
}

.map {
    border-radius: 50px;

    overflow: hidden;
    margin  : 2%;
    width   : 46%;
    border  : 4px brown dotted;
}

.embed-container {
    position      : relative;
    padding-bottom: 56.25%;
    height        : 0;
    overflow      : hidden;
    max-width     : 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
}
  .footer_img{
        background-image: url(../images/body_bg.png);
    }
@media screen and (max-width: 768px) {
    .about_text2 h4 {
        font-size: 14px;
    }

    .about_text2 {
        text-align         : center;
        background-image   : url(../images/white\ bb.png);
        background-repeat  : no-repeat;
        background-size    : contain;
        background-position: center;
        padding            : 10%;
        margin             : 3%;
        color              : rgb(47, 29, 19);
        opacity            : 0.9;
    }

    .about2 {
        padding-top: 10px;

    }

    .about2 img {
        /* width  : 25%; */
        opacity: 0.8;
        display: block;

        text-align: center;
        margin    : 10% auto;

    }

    .map_box {
        display        : flex;
        justify-content: center;
        flex-wrap   : wrap;

    }

    .about2_dog {
        display: none;
    }
    .add {
        width: 100%;
    }

    .map {
        width: 100%
    }

  
}

@media screen and (max-width: 480px) {
    
    .about2_dog {
        display: none;
    }

    .about_text2 {
        text-align      : center;
        background-image: none;

        margin       : 3%;
        color        : rgb(47, 29, 19);
        border       : 4px rgb(155, 30, 30) dotted;
        border-radius: 50px;

    }

    .add {
        width: 100%;
    }

    .map {
        width: 100%
    }
    .footer_textbox{
        
    }
}