ul {
    padding: 0;
}

a {
    text-decoration: none;
    color          : rgb(245, 240, 240);
}

.container {
    max-width: 1140px;
    margin   : auto;
}

body {
    font-family     : 'Noto Sans TC', sans-serif;
    padding         : 0;
    margin          : 0;
    background-image: url(../images/body_bg.png);
    color           : rgb(54, 40, 12);
}

header a {
    text-decoration: none;
    color          : rgb(245, 240, 240);
}

.nav {
    width  : 50%;
    display: block;


}

.mobile_nav {
    display: none;
}

header li {
    float          : right;
    list-style-type: none;
    width          : 20%;
    padding-top    : 18px;

}



header li :hover {
    padding-bottom: 5%;
    border-bottom : 3px solid rgb(243, 48, 48);
}

header {
    padding         : 0;
    margin          : 0;
    width           : 100%;
    height          : 90px;
    background-color: brown;
    display         : flex;
    justify-content : space-between;
    position        : fixed;
    z-index         : 999;
}

/*  */

header>.icon {
    width          : 15%;
    padding-top    : 25px;
    display        : flex;
    justify-content: space-around;
}

header>.icon>a:hover {
    color: rgb(245, 180, 180);

}

.icon a {
    color    : rgb(245, 240, 240);
    font-size: 1.5rem;
}

.menu_icon {
    width       : 60px;
    height      : 40px;
    /* border   : 1px solid #000; */
    position    : absolute;
    top         : 20%;
    right       : 2%;
    display     : block;
}

.mobile_menu_icon1,
.mobile_menu_icon2,
.mobile_menu_icon3 {
    transition      : all 1s;
    position        : absolute;
    width           : 50px;
    height          : 6px;
    background-color: rgb(245, 240, 240);
    border-radius   : 20px;
}



/* 漢堡選單上面橫槓 */
.mobile_menu_icon1 {
    background-color: rgb(211, 164, 90);
    top             : 0;
}

/* 漢堡選單下面橫槓 */
.mobile_menu_icon3 {
    background-color: rgb(211, 164, 90);

    bottom: 0;
}

/* 漢堡選單中間橫槓 */
.mobile_menu_icon2 {
    top             : 50%;
    transform       : translateY(-50%);
    background-color: rgb(233, 31, 31);

}

section {
    position: relative;
}

section img {
    padding-top: 60px;
    width      : 100%;

}

/* active 漢堡 */
.openmobile_menu_icon3,
.openmobile_menu_icon1 {
    top      : 50%;
    transform: translateY(-50%);
}

.openmobile_menu_icon2 {
    display: none;
}

.openmobile_menu_icon1 {
    transform: rotate(45deg);
}

.openmobile_menu_icon3 {
    transform: rotate(-45deg);
}

.mobile_header {
    display: none;
}

.button {
    /* width           : 20%; */
    padding         : 1%;
    background-color: brown;
    border-bottom   : 8px solid rgb(155, 30, 30);
    border-radius   : 20px;
    position        : absolute;
    bottom          : 10%;
    left            : 50%;
    transform       : translate(-50%, -0%);
    box-shadow      : 10px 10px 10px 1px #1a141467;




}

.button a {

    /* line-height: 0.5rem; */
    color    : ivory;
    font-size: 1.5em;
}

.logo_model {
    display: none;
}

.mobile_nav {
    display: none;
}

.about {
    position: relative;

}

.about_img1 {

    position  : absolute;
    right     : 0%;
    top       : 0%;
    opacity   : 0.9;
    width     : 55%;
    /* z-index: 1; */

}

.about_img2 {
    width      : 55%;
    position   : absolute;
    /* left    : 5%; */
    bottom     : 0%;
    opacity    : 0.9;
    /* z-index : 1; */

}

.about_text {
    color         : rgb(43, 26, 5);
    padding-top   : 45%;
    padding-left  : 60%;
    padding-bottom: 10%;

    text-align: center;

}

.about_text h2 {
    line-height: 100%;
}

.service {
    width      : 100%;
    padding-top: .3%;
    position   : relative;

}



.service>.button1 {

    position : absolute;
    top      : 10%;
    left     : 50%;
    transform: translate(-50%, -0%);
    padding  : 1%;

    background-color: brown;
    border-bottom   : 8px solid rgb(155, 30, 30);
    border-radius   : 20px;

    box-shadow: 10px 10px 10px 1px #1a141467;

}

.button1 a {

    color    : ivory;
    font-size: 1.5em;

}



.button_img {
    position       : absolute;
    top            : 30%;
    /* left        : 8%; */
    width          : 100%;
    opacity        : .9;
    text-align     : center;
    display        : flex;
    justify-content: space-around;
}

.button_img img {

    width: 110%;


}

.button_img1 {
    animation: bb 2500ms infinite ease-in-out;
}

.button_img2 {
    animation: cc 2500ms infinite ease-in-out;

}

@keyframes cc {
    0% {
        -webkit-transform: rotate(5deg) scale(1) translate(-10%, -30%);
        transform        : rotate(5deg) scale(1) translate(-10%, -30%);
    }

    50% {
        -webkit-transform: rotate(-5deg) scale(1) translate(-10%, -30%);
        transform        : rotate(-5deg) scale(1) translate(-10%, -30%);
    }

    100% {
        -webkit-transform: rotate(5deg) scale(1) translate(-10%, -30%);
        transform        : rotate(5deg) scale(1) translate(-10%, -30%);
    }

}

@keyframes bb {
    0% {
        -webkit-transform: rotate(-5deg) scale(1) translate(-10%, -30%);
        transform        : rotate(-5deg) scale(1) translate(-10%, -30%);
    }

    50% {
        -webkit-transform: rotate(5deg) scale(1) translate(-10%, -30%);
        transform        : rotate(10deg) scale(1) translate(-10%, -30%);
    }

    100% {
        -webkit-transform: rotate(-5deg) scale(1) translate(-10%, -30%);
        transform        : rotate(-5deg) scale(1) translate(-10%, -30%);
    }

}

@media screen and (max-width: 768px) {
    section img {
        padding-top: 0px;


    }

    .icon a {
        display: none;
    }

    header {
        position: relative;
        height  : 60px;
    }

    .nav {
        display: none;
    }

    .mobile_nav {

        display: none;
    }

    .mobile_nav ul {
        padding : 0;
        margin  : 0;
        position: absolute;
        z-index : 10;
        width   : 100%;
    }

    .mobile_nav li {
        padding         : 0;
        margin          : 0;
        float           : none;
        background-color: ivory;
        line-height     : 80px;
        text-align      : center;
        border-bottom   : 4px rgb(155, 30, 30) dotted;

    }

    .mobile_nav a {

        color: rgb(22, 8, 8);
    }

    .mobile_header {
        display: block;
    }

    .about_img1 {

        display: none;

    }

    .about_img2 {
        position    : static;
        /* position : absolute;
        bottom      : -190%; */
        position    : relative;
        width       : 100%;
        z-index     : -1;
        padding-left: 4%;
    }

    .about_text {
        position    : absolute;
        top         : 1%;
        right       : 1%;
        padding-top : 1%;
        padding-left: 50%;
        text-align  : center;

    }

    .button_img {
        position: absolute;
        top     : 35%;
        left    : 17%;
        width   : 70%;
        opacity : .9;

        text-align: center;

        display        : flex;
        justify-content: space-around;
    }

    .button_img img {
        width: 90%;

    }

    /* .button1 a {
        text-align : center;
        line-height: 0.5rem;
        color      : ivory;
        font-size  : 1em;

    }

    .button a {
       
        color      : ivory;
        font-size  : 1em;

    } */
    
  
}

@media screen and (max-width: 480px) {

    .logo_web {
        display: none;

    }

    .logo_model {
        display: block;
        padding: 0.3em;
    }

    .button1 a {
        font-size: 0.8em;

        
    }


    .button a {

        font-size: 0.8em;

    }

    .icon {
        display: none;
    }

    .nav {
        display: none;
    }

    .about_img1 {

        display: none;

    }

    .about_img2 {


        display: none;
    }

    .about_text {
        position       : sticky;
        top            : 1%;
        left           : 0%;
        padding-top    : 0%;
        padding-left   : 0%;
        border         : 4px brown dotted;
        border-radius  : 50px;
        /* text-align  : center; */
    }

    .button_img {
        display: none
    }
}