footer {
    background-color: brown;
    position        : relative;
    display         : flex;
    flex-wrap       : nowrap;
    justify-content : space-between;
    padding-top     : 1%;

    padding-bottom: 1%;
}

footer h4,
p {
    color: rgb(240, 226, 226);
}

.footer_img {
    overflow        : hidden;
    background-color: rgb(250, 235, 186);
    padding-top     : 2%;
    padding-bottom  : 2%;
}

.footer_icon {


    width             : 30%;
    /* padding-top    : 42px; */
    display           : flex;
    justify-content   : space-around;


}

.footer_icon a {
    color    : rgb(245, 240, 240);
    font-size: 4rem;
}


.footer_logo {
    width: 30%;
}

.footer_logo img {

    width: 70%;
}

.footer_textbox {

    text-align: center;
    width     : 100%;
    font-size : 0.7em;
}

/* .footer_textbox p {
     display   : block;
     text-align: center;
     margin    : auto;
 
 
 } */

.gototop {
    position: fixed;
    bottom  : 10%;
    right   : 2%;

    width           : 50px;
    height          : 50px;
    /* border          : 4px dotted rgb(151, 145, 145); */
    /* border-radius   : 50px; */
    /* background-image: url(../images/body_bg.png); */
    /* opacity         : 0.9; */
    z-index: 999;
}

.gototop a{
    /* text-decoration: none; */
    color          : rgb(245, 11, 11);
    /* text-align     : center; */
    font-size      : 3rem;
    /* display        : block; */
}

.gotop  {
    position: fixed;
    right: 2%;
    bottom: 2%;
    font-size: 5rem;
    animation: top 2.5s infinite;
    display: none;
}




@keyframes top {
    0% {
        bottom: 2%;

    }

    50% {
        bottom: 4%
    }

    100% {
        bottom: 2%;
        right: 2%
    }
}



@media screen and (max-width: 768px) {

    footer {

        padding-bottom: 5%;
    }

    .footer_icon a {
        color    : rgb(245, 240, 240);
        font-size: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .footer_icon a {
        color    : rgb(245, 240, 240);
        font-size: 2rem;
    }

}